.todo-filter{
    width: 100%;
    border-radius: 7px;
    padding: .5rem;
    background-color: black;
    margin: 1rem 0;
    display: inline-flex;
    justify-content: center;
}

.filters button{
    background-color: black;
    margin: 0 .5rem;
    color: white;
    padding: .7rem 1.5rem;
    border-radius: 2rem;
    font-weight: 600;
    cursor: pointer;

}

.filters button:hover, .filters button:focus{
    background-color: rgba(19, 18, 18, 0.829);
}