.todo-item{
    display: inline-flex;
    padding: 1rem;
    text-align: center;
    margin: .5rem 0;
    background-color: #252424d3;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
}

.list-item {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}


.todo-item:has(input:checked) span{
    text-decoration: line-through;
    color: rgb(218, 205, 205);
}

.list-item span {
    display: inline-flex;
    width: 100%;
}
.list-item span  input{
    margin-right: 1rem;
    accent-color: aquamarine;
}
.remove{
    float: right;
    width: 27px;
    height: 27px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: scale .5s;
    text-align: center;
    margin-left: 10px;
}
.remove:hover{
    background-color: rgba(19, 18, 18, 0.829);
    scale: 1.2;
}

.item-name p{
    text-wrap: wrap;
    padding-right: 1rem ;
    text-align: left;
    line-height: 1.5rem;
    user-select: none;
    cursor: pointer;
}

.edit-item{
    float: right;
    transition: transform .5s;
    color: rgba(255, 255, 255, 0.623);
    }
.edit-item:hover{
    transform: scale(1.2);
    color: white;

}


.edit-todo{
    width: 100%;
    display: inline-flex;


}
.edit-todo input{
    flex-grow: 1;
    background-color: transparent;
    box-shadow: none;
    color: white;
    padding: .5rem;
}
.save-btn{
    padding: .7rem 1.5rem;
    border-radius: 2rem;
    float: right;
    background-color: aquamarine;
    color: black;
    font-weight: 600;
    cursor: pointer;
    
}


